.App {
    text-align: center;
}

.contact-list-container {
    margin-top:20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.inputBox{
    font-size: medium;
    color: blue;
}
